---
layout: home
---
{% assign i=0 %}
<script type="text/javascript">
    window.ipsums = [];
{% for ipsum in site.ipsum %}
    window.ipsums.push( {{ ipsum.title | jsonify}} );
{% endfor %}
</script>
<div class="row">
    <div class="col-lg-12 text-center">
        <div class="row">
            <div class="col-lg-12">
                <input type="text" id="ipsum-search" placeholder="Search an Ipsum..."/>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12" id="ipsum-list">
        {% for ipsum in site.ipsum %}
        <a href="{{ipsum.url}}">
            <span class="ipsum-name label-md ipsum-label" name="{{ ipsum.title }}" style="background-color: {{ ipsum.labelBgColor }}; color: {{ ipsum.labelTextColor }}; border-color: {{ ipsum.labelBorderColor }}">{{ ipsum.title }}</span>
        </a>
        {% endfor %}
                <div id="no-ipsum-match" class="hide">
                    <p>No Ipsum found :(</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/assets/js/search/Elements.js"></script>
<script src="/assets/js/search/Search.js"></script>
<script src="/assets/js/search/Listener.js"></script>
