<nav class="navbar navbar-transparent">
    <div class="container">
        <div class="navbar-header">
            <a href="/">
                <!-- <img id="logo" src="assets/images/ipsum-generator-logo.png" alt="Ipsum Generator Logo">-->
                <img id="logo" src="assets/images/ipsum-comunity-with-logo.png" alt="Ipsum Generator Logo">

            </a>
        </div>
        <ul class="nav navbar-right nav-btns">
            <li><a href="#">Create your own Lorem Ipsum!</a></li>
        </ul>
    </div>
</nav>