#ipsum-layout {
  //font-family: 'Lato', sans-serif;
  font-family: 'Work Sans', sans-serif;

  #title {
    //font-family: 'Chewy', cursive;
    font-family: 'Patua One', cursive;
    color: $default;
    font-size: 5em;
    //font-weight: bold;
    text-transform: capitalize;
  }
  #description {
    font-size: 1.3em;
  }

  #generator-container {
    margin: 15px 0px;
    .btn-group {
      font-size: 1.5em;

    }
    #language-input-container {
      clear: both;
      select {
        float: right;
      }
    }
    label.start-with {
      width: 300px;
    }
    .number-input {
      width: 70px;
      padding: 5px;
      border-radius: 5px;
      border: 1px solid $default-gray-bootstrap;
      text-align: right;
    }
    #btn-generate {
      height: 45px;
      padding: 10px 20px;
    }
    #phrase-container {
      margin: 15px 0px;
      padding: 20px;
      min-height: 300px;

      color: #282828;
      font-size: 1.1em;
      border: 1px solid #8b9899;

      resize: none;
      &::selection {
        background: $sowhite;
      }
      &::-moz-selection {
        background: $sowhite;
      }
    }
  }
}

#phrase-container[readonly] {
  background-color: transparent;
}