h1{
    color: $default;
}

a{
    color: $default;
    text-decoration: none;
    &:hover{
        color: $default-dark !important;
        text-decoration: none;
    }
}

.container-logo{
    margin: 0px 15px 15px 15px;
    
    #contribute-text{
        font-weight: bold;
        margin-right: 10px;
    }
    .logo{
        width: 40px;
    }
}