#ipsum-search {
  width: 100%;
  margin: 80px 0px;
  color: $default;

  opacity: 0.5;
  font-size: 3em;
  font-weight: 100;
  text-transform: capitalize;

  outline: none;
  border-style: solid;
  border-color: $default;
  border-width: 0px 0px 3px 0px;
}